/*Estilos generales*/
*{
    padding: 0px;
    margin: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

body {
    background-image: url(img/paven.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #529125;
}

a:hover{
    color: #285616;
}

/*Cabecera*/
header{
    width: 100%;
    margin: auto;
    text-align: center;
}

#logotipo{
    margin: auto;
}

#logotipo img{
    width: 140px;
}

header h1{
    font-size: 40px;
    color: #70b231;
    text-shadow: 0px 2px 4px #333333;
}

/*Menú*/
nav{
    width: 100%;
    background-color: #333333;
    height: 40px;
    box-shadow: 0px 0px 2px grey;
    margin: 10px auto;
}

nav ul{
    width: 1130px;
    margin: auto;
    list-style: none;
    justify-content: center;
    display: flex;
}

nav ul li{
    float: left;
    line-height: 40px;
    margin: 0 15px;
}

nav ul li:hover{
    background-color: #70b231;
    box-shadow: 0px 0px 4px grey inset;
}

nav ul li a{
    display: block;
    color: white;
}

/*Contenido principal*/
#content{
    width: 1250px;
    height: auto;
    margin: auto;
    margin-top: 40px;
}

#aside{
    width: 200px;
    background-color: white;
    box-shadow: 0px 2px 2px #ccc;
    float: left;
}

#aside h3{
    text-align: center;
    background-color: #ccc;
}

.widget{
    width: 180px;
    margin: 5px auto;
}

.widget form{
    margin: 5px;
    text-align: center;
}

.widget a{
    display: block;
}

.widget ul{
    margin-top: 5px;
}

.separador{
    border-top: 1px dashed #333;
}

input[type = "submit"]{
    background-color: #70b231;
    border-radius: 5px;
    margin-top: 5px;
}

input[type = "submit"]:hover{
    box-shadow: 0px 0px 2px gray;
}

/*Secciones*/
#sections{
    display: flex;
    flex-direction: column;
    float: left;
    width: 75%;
    min-height: 1100px;
    margin-left: 40px;
}

#sections section{
    background-color: white;
    box-shadow: 0px 0px 4px #c9c9c9;
    text-align: justify;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}

#sections h2{
    text-align: center;
    padding: 5px;
}

.articulo{
    padding: 5px;
}

.stickers{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
}

.stickerOne{
    position: absolute;
    top: -20px;
}

.stickerTwo{
    position: absolute;
    right: 40px;
    top: -20px;
}


/*Pie de página*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #333333;
    color: white;
    box-shadow: 0px 0px 2px gray;
    text-align: center;
}

/*Diseño responsivo*/

@media(max-width: 768px){
    nav{
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    nav ul{
        flex-wrap: wrap;
        width: 100%;
    }

    #content{
        width: 95%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }

    #sections{
        width: 100%;
        margin-left: 0;
    }

    #aside{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .widget{
        border-right: 1px dashed gray;
        padding-right: 10px;
        padding-left: 10px;
    }

    .widget:last-child{
        border-right: none;
    }

    #logotipo img{
        width: 100px;
    }

    header h1{
        font-size: 32px;
    }

    nav ul{
        width: 100%;
    }

    .clearfix{
        float: none;
        clear: both;
    }
}

@media(max-width: 480px){
    #content{
        width: 100%;
        margin: 5px auto;
        font-size: 14px;
        align-items: center;
    }

    #sections{
        width: 95%;
        margin-left: 0;
    }

    #aside{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
        align-items: center;
    }

    .widget{
        border-right: none;
        border-bottom: 1px dashed gray;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
    }

    .widget:last-child{
        border-bottom: none;
    }

    #logotipo img{
        width: 60px;
    }

    header h1{
        font-size: 24px;
    }

    input[type = "submit"]{
        margin-top: 5px;
    }
}